@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* homepage */
@layer components {
  /* .welcome-headline {
    @apply text-blue-700;
  } */
  .homepage {
    &.header__img {
      @apply object-cover;
      @apply object-center;
      @apply w-full;
      @apply h-96;
    }
  }
}
.foo {
  &_bar {
    color: red;
    color: blue;
  }
}
.test {
  background: pink;
  background: red;
}
.layouts {
  &_default {
    &_markup {
      /* layouts__default__markup_render-image */
      &_render-image {
        padding: 100px;
      }
    }
  }
}
