<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  {{ if (eq .Params.layout "raw") }}
    <body>
      {{ partial "dev/dev-tools.html" . }}
      <main>
        <!--
          "main" is defined in layouts and rendered in here. 
          For example, in single.html
        -->
        {{ block "main" . }}{{ end }}
      </main>
    </body>
  {{ else }}
    <body class="flex flex-col min-h-screen">
      {{ partial "dev/dev-tools.html" . }}
      {{ partial "header.html" . }}
      <main class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-4 sm:mt-16">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </body>
  {{ end }}

</html>
